<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN" 
 "htttp://mybatis.org/dtd/mybatis-3-mapper.dtd">
 

<mapper namespace="com.AGVN.dto.ProjectDto">
	<select id="selectProject" parameterType="com.AGVN.dto.ProjectDto" resultType="com.AGVN.dto.ProjectDto">
		SELECT PROJ_ID, PROJ_NM, PROJ_MNG 
			FROM PROJECT
			
	
	</select>

</mapper>

